doctype html
html(lang="en")
  head
    meta( charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/index.css")
    title Nadine Fischer
  body
    div(id="landing")
      div(id="header")
        h1 Nadine Fischer
        div(id="icons")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/hnm.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/sfx.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/rel.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/art.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/msg.svg")
      div(id="feature-image")
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
    div(id="hnm")
      h1 Hair & Makeup
      div(id="small-images")
        div(class="small-image", id="hnmsmall1")
        div(class="small-image", id="hnmsmall2")
      div(class="large-image", id="hnmbig")
    div(id="sfx")
      h1 Special Effects
      div(id="sfxslider")
        div(id="sfxtext")
          h2 Title
          p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
        div(class="large-image", id="imgsfx")
    div(id="reels")
      h1 Project Reels
    div(id="art")
      h1 Other Art
      div(class="art-box")
        div(class="medium-image")
        p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      div(class="art-box", id="art-box2")
        div(class="medium-image")
        p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      div(class="art-box")
        div(class="medium-image")
        p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
    div(id="msg")
      p Send me a Message
      form(action="/message", method="post")
        input(placeholder="Your name")
        input(type="email", placeholder="Your email")
        textarea(placeholder="Your message")
        button(type="submit") Send
    script(src="/scripts/index.js")
        
