doctype html
html(lang="en")
  head
    meta( charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/index.css")
    title Nadine Fischer
  body
    div(id="landing")
      h1 Nadine Fischer
      div(id="icons")
        div(class="icon")
        div(class="icon")
        div(class="icon")
        div(class="icon")
      div(id="feature-image")
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
    div(id="hnm")
      h1 Hair & Makeup
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      div(id="small-images")
        div(class="small-image")
        div(class="small-image")
      div(class="large-image")
    div(id="sfx")
      h1 Special Effects
      h2 Title
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      div(class="large-image")
    div(id="art")
      h1 Other Art
      div(class="medium-image")
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      div(class="medium-image")
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      div(class="medium-image")
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      
