doctype html
html(lang="en")
  head
    meta( charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/index.css")
    title Nadine Fischer
  body
    div(id="landing")
      div(id="landing-image")
      h1 Nadine Fischer
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
      
    div(id="main-container")
      
      div(id="hnm", class="container")
        h1 Hair and Makeup
        div(id="hnm-images")
        
      div(id="sfx", class="container")
        h1 Special Effects
        div(id="sfx-images")
        
      div(id="reel", class="container")
        h1 reel
        
      div(id="art", class="container")
        h1 art
      
    div(id="msg")
      p Send me a message
      form(action="/message", method="post")
        input(placeholder="Your name")
        input(type="email", placeholder="Your email")
        textarea(placeholder="Your message")
        button(type="submit") Send
      
    //div(id="landing")
      div(id="header")
        h1 Nadine Fischer
        div(id="icons")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/hnm.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/sfx.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/rel.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/art.svg")
          div(class="icon-bounds")
            div(class="icon")
              image(src="/images/msg.svg")
      div(id="feature-image")
      p Lorem ipsum dolor sit amet, at option dolores persecuti vis, eam at mollis iuvaret. Id ius tempor consectetuer. Timeam imperdiet te duo, eos ad quis omnesque disputando, eu dicit definiebas necessitatibus mea. Ne est meis vidit pericula.
    //div(id="msg")
      p Send me a Message
      form(action="/message", method="post")
        input(placeholder="Your name")
        input(type="email", placeholder="Your email")
        textarea(placeholder="Your message")
        button(type="submit") Send
      
    script(src="/scripts/hnm.js")
    script(src="/scripts/sfx.js")
        
